html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.linkStyle {
  position: absolute;
  right: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.magicContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 30px;
}

p {
  color: gray;
}

.magicButton {
  margin-top: 50px;
  height: 50px;
  width: 100px;
}

.button-row {
  margin-top: 25px;
  height: 50px;
  width: 130px;
}
